$white: #fff;
$black: #000;
$background: linear-gradient(to right, #29323c, #485563);
$popup-color: #485563;
$popup-shadow-color: #29323c;
$alpha-white: rgba(255, 255, 255, 0.75);
$shadow-bg: rgba(37, 35, 35, 0.98);
$twitter-color: #1da1f2;
$ig-color: #833ab4;
$git-color: #171515;